
body{
    background: whitesmoke;
}


.fileNameInput{
    display: grid;
    position: absolute;
    border: 1px grey solid;
    box-shadow: 1px 2px black;
    background: orange;
    border-radius: 10px;
    margin: 5px;
}

.fileNameInputInner{
    display: grid;
    background: #77d1f0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    grid-template-areas:
    "fileName fileName fileName"
    "fileNameBox fileNameButton fileNameCancelButton";
}

.fileName{
    grid-area: fileName;
    padding-left: 10px;
}

.fileNameBox{
    grid-area: fileNameBox;
    margin-right: 5px;
    border-radius: 10px;
    padding: 2px;
}

.fileNameButton{
    grid-area: fileNameButton;
    color: black;
    background: #79c6ea;
    padding: 5px;
    box-shadow: 1px 2px #0c343f;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.fileNameCancelButton{
    grid-area: fileNameCancelButton;
    color: black;
    background: #79c6ea;
    padding: 5px;
    box-shadow: 1px 2px #0c343f;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 2px;
}

.fileNameButton:hover{
    grid-area: fileNameButton;
    color: black;
    background: lightcyan;
    box-shadow: 1px 2px #0c343f;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.fileNameCancelButton:hover{
    grid-area: fileNameCancelButton;
    color: black;
    background: lightcyan;
    box-shadow: 1px 2px #0c343f;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.fileNameButton:active{
    grid-area: fileNameButton;
    color: black;
    background: grey;
    box-shadow: 1px 2px #0c343f inset;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.fileNameCancelButton:active{
    grid-area: fileNameCancelButton;
    color: black;
    background: grey;
    box-shadow: 1px 2px #0c343f inset;
    border: 1px grey outset;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.outerWrapper{
    display: grid;
    background: whitesmoke;
    grid-template-areas: 
    "mainWrapper"
    "mainWrapper"
    "footer";
}

.mainWrapper{
    grid-area: mainWrapper;
    display: grid;
    background: whitesmoke;
    grid-template-areas: 
    "header menu menu menu"
    "pad pad pad pad"
    "pad pad pad pad"
    "pad pad pad pad";
    margin: 0 auto;
}

.header{
    grid-area: header;
    color: white;
    display: grid;
    background: #77d1f0;
    padding: 10px;
    text-align: center;
    border-left: 1px #0c343f solid;
    border-top: 1px #0c343f solid;
    border-top-left-radius: 10px;
}

.menu{
    grid-area: menu;
    display: grid;
    background: #77d1f0;
    padding: 10px;
    overflow: hidden;
    border-top: 1px #0c343f solid;
    border-right: 1px #0c343f solid;
    border-top-right-radius: 10px;
}

.menuItemWrapper{
    display: grid;
    grid-template-areas: 
    "save open about";
    padding: 10px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
}

.menuItemWrapperWithDownload{
    display: grid;
    grid-template-areas: 
    "save open about download";
    padding: 10px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
}

.fileInput{
    display: none;
}

.save{
    grid-area: save;
}

.open{
    grid-area: open;
}

.about{
    grid-area: about;
}

.download{
    grid-area: download;
}

.hidden{
    display: none;
}

.menu a{
    float: left;
    color: black;
    font-style: bold;
    background: #FFAB40;
    background-image: linear-gradient(to right, #ffAB40, #fed8b1);
    margin-right: 3px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 4px black;
}

.menu a:hover{
    background-color: #f2f2f2;
    background-image: linear-gradient(to right, grey, white);
    color: black;
    cursor: pointer;
    box-shadow: 2px 4px black;
}

.menu a:active{
    background: #FFD180;
    box-shadow: 2px 4px black inset;
}

.mainEdit{
    padding: 10px;
    border: 1px #0c343f solid;
    border-radius: 5px;
}

.pad{
    grid-area: pad;
    display: grid;
    background: #e5b572;
    min-width: 400px;
    min-height: 500px;
    border-right: 1px #0c343f solid;
    border-left: 1px #0c343f solid;
    border-bottom: 1px #0c343f solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px grey;
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(#77d1f0, #7999ea)
}

.note{
    padding: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer{
    grid-area: footer;
    display: grid;
    color: black;
    background: #0c343f;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    border: 1px coral solid;
    box-shadow: 0px 2px grey;
    background-image: linear-gradient(to right, #7999ea, #77d1f0)
}

@media all and (max-width: 600px){
    .mainWrapper{
        grid-area: mainWrapper;
        display: grid;
        background: whitesmoke;
        grid-template-areas: 
        "header header header"
        "menu menu menu"
        "pad pad pad";
        margin: 0 auto;
    }

    .header{
        grid-area: header;
        color: white;
        display: grid;
        background: #77d1f0;
        padding: 10px;
        text-align: center;
        border-left: 1px #0c343f solid;
        border-top: 1px #0c343f solid;
        border-right: 1px #0c343f solid;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .menu{
        grid-area: menu;
        display: grid;
        background: #77d1f0;
        padding: 10px;
        overflow: hidden;
        border-right: 1px #0c343f solid;
        border-left: 1px #0c343f solid;
        border-top: 2px orange groove;
        border-radius: 0;
    }

    .footer{
        grid-area: footer;
        display: grid;
        color: black;
        background: #0c343f;
        margin: 0 auto;
        width: 98%;
        border-radius: 5px;
        border: 1px coral solid;
        box-shadow: 0px 2px grey;
        background-image: linear-gradient(to right, #7999ea, #77d1f0)
    }
    
}

.footerText{
    padding: 10px;
}

textarea:focus,
textarea:active{
    outline: 0px !important;
    --webkit-appearance: none;
}

input:focus,
input:active{
    outline: 0px !important;
    --webkit-appearance: none;
}