
body{
    background: whitesmoke;
}

.outerWrapper{
    display: grid;
    background: whitesmoke;
    grid-template-areas: 
    "mainWrapper"
    "mainWrapper"
    "footer";
}

.mainWrapper{
    grid-area: mainWrapper;
    display: grid;
    background: whitesmoke;
    grid-template-areas: 
    "header menu menu menu"
    "pad pad pad pad"
    "pad pad pad pad"
    "pad pad pad pad";
    margin: 0 auto;
}

.header{
    grid-area: header;
    color: #f2f2f2;
    display: grid;
    background: #0c343f;
    padding: 5px;
    text-align: center;
    border-left: 1px #0c343f solid;
    border-top: 1px #0c343f solid;
    border-top-left-radius: 10px;
}

.menu{
    grid-area: menu;
    display: grid;
    background: #0c343f;
    padding: 10px;
    overflow: hidden;
    border-top: 1px #0c343f solid;
    border-right: 1px #0c343f solid;
    border-top-right-radius: 10px;
    background-image: linear-gradient(to right,#0c343f, #3b7877)
}

.menuItemWrapper{
    display: grid;
    grid-template-areas: 
    "save open about";
    padding: 10px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
}

.save{
    grid-area: save;
}

.open{
    grid-area: open;
}

.about{
    grid-area: about;
}

.menu a{
    float: left;
    color: black;
    background: #e5b572;
    margin-right: 3px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 4px #d3caad;
}

.menu a:hover{
    background-color: #FF7F50;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px rgb(246, 198, 204);
}

.menu a:active{
    background: firebrick;
    box-shadow: 2px 2px rgb(143, 30, 30) inset;
}

.mainEdit{
    padding: 10px;
    border: 1px #0c343f solid;
    border-radius: 5px;
}

.pad{
    grid-area: pad;
    display: grid;
    background: #e5b572;
    min-width: 400px;
    min-height: 500px;
    border-right: 1px #0c343f solid;
    border-left: 1px #0c343f solid;
    border-bottom: 1px #0c343f solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px grey;
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(#e5b572, #feeeab)
}

.footer{
    grid-area: footer;
    display: grid;
    color: white;
    background: #0c343f;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    border: 1px coral solid;
    box-shadow: 0px 2px grey;
    background-image: linear-gradient(to right, #0c343f, #3b7877)
}

.footerText{
    padding: 10px;
}

textarea:focus,
textarea:active{
    outline: 0px !important;
    --webkit-appearance: none;
}